@font-face {
    font-family:'allseto';
    src:url(./font/allseto.ttf); /* 修改成你的字体 */
    font-display:swap
}
h1#site-title {
    font-family:allseto!important
}
span#subtitle {
    font-family:allseto!important
}
a#site-name {
    font-family:allseto!important
}